ICON_1 ICON "..\\app.ico"
#include <windows.h>


DIALOG_MESSAGE DIALOGEX 0, 0, 375, 73 
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | DS_CENTER
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
CTEXT           "", 101, 21, 30, 330, 11
END

